[submodule "double-pendulum.py"]
	path = double-pendulum.py
	url = https://github.com/vincentmader/double-pendulum.py
[submodule "random-walk_live-plot.py"]
	path = random-walk_live-plot.py
	url = https://github.com/vincentmader/random-walk_live-plot.py
[submodule "gaussian-dice-throws_live-plot.py"]
	path = gaussian-dice-throws_live-plot.py
	url = https://github.com/vincentmader/gaussian-dice-throws_live-plot.py
[submodule "finite-differences.py"]
	path = finite-differences.py
	url = https://github.com/vincentmader/finite-differences.py
[submodule "lax-friedrichs-advection.py"]
	path = lax-friedrichs-advection.py
	url = https://github.com/vincentmader/lax-friedrichs-advection.py
[submodule "orbit-precalculations"]
	path = orbit-precalculations
	url = https://github.com/vincentmader/orbit-precalculations
[submodule "cannonball-trajectories"]
	path = cannonball-trajectories
	url = https://github.com/vincentmader/cannonball-trajectories
[submodule "taylor-series-visualization"]
	path = taylor-series-visualization
	url = https://github.com/vincentmader/taylor-series-visualization
