[submodule "double-pendulum.py"]
	path = double-pendulum.py
	url = https://github.com/vincentmader/double-pendulum.py
[submodule "random-walk_live-plot.py"]
	path = random-walk_live-plot.py
	url = https://github.com/vincentmader/random-walk_live-plot.py
